<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>dashboard</title>
    <link  rel="stylesheet" href="../static/css/style.css">
<body>
    <ul class="nav">
        <h3 class="logo">iReporter</h3>
          <li class="nav"><a href="./index.html">Logout</a></li>
        </ul>    
<div class="menu">  
  <div class="profile">
    <h2 class="headerlogo" >Notify User</h2>
    <div class="table" >
            <div><h4>Your Reports</h4></div>
        <table>
            <tr>
                <th>Title</th>
                <th>Type</th>
                <th>Description</th>
                <th>Media</th>
                <th>Location</th>
                <th>Action</th>
            </tr>
            <tr>
                <td ><div id="tr">corupption at nys</div></td>
                <td><div id="tr">Red-flag</div></td>
                <td ><div id="tr">they stole again</div></td>
                <td ><div id="tr">N/A</div></td>
                <td ><div id="tr">(lat-23'-log-34")</div></td>
                <td class="btn-group">
                        <div class="dropdown">
                                <button class="dropbtn">Status</button>
                                <div class="dropdown-content">
                                  <a href="#">Under investigation</a>
                                  <a href="#">Rejected</a>
                                  <a href="#">Resoved</a>
                                </div>
                        </div>

                </td>
                           <tr>
                <td ><div id="tr">corupption at nys</div></td>
                <td><div id="tr">Red-flag</div></td>
                <td ><div id="tr">they stole again</div></td>
                <td ><div id="tr">N/A</div></td>
                <td ><div id="tr">(lat-23'-log-34")</div></td>
                <td class="btn-group">
                    <div class="dropdown">
                            <button class="dropbtn">Status</button>
                            <div class="dropdown-content">
                              <a href="#">Under investigation</a>
                              <a href="#">Rejected</a>
                              <a href="#">Resoved</a>
                            </div>
                    </div>
                </td>
            <tr>
                <td ><div id="tr">corupption at nys</div></td>
                <td><div id="tr">Red-flag</div></td>
                <td ><div id="tr">they stole again</div></td>
                <td ><div id="tr">N/A</div></td>
                <td ><div id="tr">(lat-23'-log-34")</div></td>
                <td class="btn-group">
                        <div class="dropdown">
                                <button class="dropbtn">Status</button>
                                <div class="dropdown-content">
                                  <a href="#">Under investigation</a>
                                  <a href="#">Rejected</a>
                                  <a href="#">Resoved</a>
                                </div>
                        </div>
                </td>
            <tr>
                <td ><div id="tr">corupption at nys</div></td>
                <td><div id="tr">Red-flag</div></td>
                <td ><div id="tr">they stole again</div></td>
                <td ><div id="tr">N/A</div></td>
                <td ><div id="tr">(lat-23'-log-34")</div></td>
                <td class="btn-group">
                        <div class="dropdown">
                                <button class="dropbtn">Status</button>
                                <div class="dropdown-content">
                                  <a href="#">Under investigation</a>
                                  <a href="#">Rejected</a>
                                  <a href="#">Resoved</a>
                                </div>
                        </div>
                </td>
            <tr>
                <td ><div id="tr">corupption at nys</div></td>
                <td><div id="tr">Red-flag</div></td>
                <td ><div id="tr">they stole again</div></td>
                <td ><div id="tr">N/A</div></td>
                <td ><div id="tr">(lat-23'-log-34")</div></td>
                    <td class="btn-group">
                            <div class="dropdown">
                                    <button class="dropbtn">Status</button>
                                    <div class="dropdown-content">
                                      <a href="#">Under investigation</a>
                                      <a href="#">Rejected</a>
                                      <a href="#">Resoved</a>
                                    </div>
                            </div>
                </td>
            <tr>
                <td ><div id="tr">corupption at nys</div></td>
                <td><div id="tr">Red-flag</div></td>
                <td ><div id="tr">they stole again</div></td>
                <td ><div id="tr">N/A</div></td>
                <td ><div id="tr">(lat-23'-log-34")</div></td>
                <td class="btn-group">
                    <div class="dropdown">
                            <button class="dropbtn">Status</button>
                            <div class="dropdown-content">
                              <a href="#">Under investigation</a>
                              <a href="#">Rejected</a>
                              <a href="#">Resoved</a>
                            </div>
                    </div>
                </td>
            </table>
    </div>

</div>


</body>
