<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>profile</title>
    <link  rel="stylesheet" href="../static/css/style.css">
    <link  rel="script" href="../static/javascript/myscript.js"
    
<body>
  <ul class="nav">
        <li class="logo">iReporter</li>
        <li class="nav"><a href="./dashboard.html">My Reports</a></li>
        <li class="nav"><a href="./index.html">Logout</a></li>
  </ul><!--end of ul-->
  <div class="profile">
    <h2 class="headerlogo" >user profile</h2>
      <div class="card">
          <img class="profileimg" src="../static/css/IMG-20141004-WA0015.jpg" alt="profile pic" style="width:100%">
        
          <input type="file" name="media" accept="image/*" placeholder="Add New Image">
          <input type="text" name="newname" placeholder="New Name">
          <input type="text" name="newEmail" placeholder="New Email">
            <div class="headerlogo">Save</div>
          </div>
  </div>
  <!-- end of profile -->
