<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing_page</title>
    <link  rel="stylesheet" href="../static/css/style.css">
    
           

<body>
  <ul class="nav">
        <li class="logo">iReporter</li>
        <li class="nav"><a href="./admin.html">Admin</a></li>
        <li class="nav"><a href="./register">Register</a></li>
        <li class="nav"><a href="./login.html">Login</a></li>
  </ul><!--end of ul-->

  <div>
    <div class="jumbotron">
      <h4>welcome to iReporter a platform for inter-connecting business ideas.</h4>
    </div>
      <div class="grid" ><p class="color">Or Login if already have a account.</p>
        <a class="button"  href="./login">Login</a>
      </div>
      <div class="grid">
        <p class="color">Sign up and register a iReport today.</p>
        <a class="button" href="./signup.html">Sign Up</a>
      </div>
    <p id="hover" class="footer">designed with CSS by @jayson</p>
  </div><!--end of container-->
</body>
