<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
    <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link  rel="stylesheet" href="../static/css/style.css">
</head>
<body>

        <ul class="nav">
        <h3 class="logo">IReporter</h3>
          <li class="nav"><a href="./admin.html">Admin</a></li>
          <li class="nav"><a href="./signup.html">Register</a></li>
        </ul>
    <div class="jumbotron">
        <h3>login Here</h3>
    <form action="./dashboard.html">
      <br>
      <input type="text" name="email" placeholder="email">
      <br>
        <input type="password" name="psw" placeholder="password">
        <br>
        <input class="buttons" type="submit" value="Login">
    </form>
    </div>
</body>
</html>