<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>profile</title>
    <link  rel="stylesheet" href="../static/css/style.css">
    <link  rel="script" href="../static/javascript/myscript.js"
    
<body>
  <ul class="nav">
        <li class="logo">iReporter</li>
        <li class="nav"><a href="./dashboard.html">My Reports</a></li>
        <li class="nav"><a href="./index.html">Logout</a></li>
  </ul><!--end of ul-->

<div class="menu">  
  <div class="profile">
    <h2 class="headerlogo" >user profile</h2>
      <div class="card">
          <img class="profileimg" src="../static/css/IMG-20141004-WA0015.jpg" alt="profile pic" style="width:100%">
          <div class="contact"><p>
            <p>JOHNSON</p><p>wambirujohnson@gmail.com</p>
            <a class="headerlogo" href="./editprofile.html">Edit profile</a></li>
          </div>
  </div>
  <!-- end of profile -->
<div class="flags" form >
  <div>
    <form action="./dasboard">
      <label for="fname"><h4>Title</h4></label>
      <input type="text" id="fname" name="title">
      <label for="Description"><h4>Description</h4></label>
      <form>
        <textarea></textarea>
      </form>
      <label for="Report"><h4>Report</h4></label>
      <select id="Report" name="Report Type">
        <option value="Red Flag">Red Flag</option>
        <option value="Intervention">Intervention</option>
      </select>
      <label for="media"><h4>Add prove media</label>
      <input type="file" name="media" accept="media_type">
      <label for="map"<h4>Location</label>
      <div id="map" style="position: centre;width:400px;height:400px;background:#EFC050;border: solid #005960"; ></div>
          <script>
              </script>
              <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBu-916DdpKAjTmJNIgngS6HL_kDIKU0aU&callback=myMap"></script>
        
      </div>
      <a class="headerlogo" href="./dashboard.html">Save</a>
      
    
    </form>
  </div>



</div>
